<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DreamOn Home</title>    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel="stylesheet" th:href="@{css/Popup.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
</head>


<nav>


    <div class="navbar navbar-customs">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Home.html"><img alt="light" src="/images/logo7.gif" class="logo" height="45" width="175"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <a class="btn btn-info navbar-btn" href="Home.html" role="button">Home</a>
                    <a class="btn btn-info navbar-btn" href="about.html" role="button">About</a>
                    <a class="btn btn-info navbar-btn" href="contact.html" role="button">Contact</a>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>


</nav>
<body background="/images/back3.jpg">

<div>
    <form name="myForm" class="modal-content animate" action="/Qualification" method="POST">


        <div class="container">
            <div id="page-wrapper">
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">
                                <label class="control-label col-sm-5 ">Your results for compulsory subjects:</label>


                                <div class="col-sm-5">

                                    <table class="table table-striped">

                                        <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Grade</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select id="list1" onchange="getSubject1();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Combined Mathematics">Mathematics</option>
                                                    <option value="physics">Science</option>
                                                    <option value="Chemistry">English</option>
                                                    <option value="physics">History</option>

                                                </select></td>
                                            <input type="hidden" id="subject1" name="subject1"/>
                                            <td><select id="subject1Result1" class="form-control2"
                                                        onchange="getSubject1Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject1R" name="subject1R"/>
                                        </tr>
                                        <tr>
                                            <td><select id="list2" onchange="getSubject2();">
                                                <option value="NONE">--select--</option>
                                                <option value="Combined Mathematics">Mathematics</option>
                                                <option value="physics">Science</option>
                                                <option value="Chemistry">English</option>
                                                <option value="physics">History</option>

                                            </select></td>
                                            <input type="hidden" id="subject2" name="subject2"/>
                                            <td><select id="subject2Result" class="form-control2"
                                                        onchange="getSubject2Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject2R" name="subject2R"/>

                                        </tr>
                                        <tr>
                                            <td><select id="list3" onchange="getSubject3();">
                                                <option value="NONE">--select--</option>
                                                <option value="Combined Mathematics">Mathematics</option>
                                                <option value="physics">Science</option>
                                                <option value="Chemistry">English</option>
                                                <option value="physics">History</option>

                                            </select></td>
                                            <input type="hidden" id="subject3" name="subject3"/>
                                            <td><select id="subject3Result" class="form-control2"
                                                        onchange="getSubject3Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject3R" name="subject3R"/>

                                        </tr>

                                        <tr>
                                            <td><select id="list4" onchange="getSubject4();">
                                                <option value="NONE">--select--</option>
                                                <option value="Combined Mathematics">Mathematics</option>
                                                <option value="physics">Science</option>
                                                <option value="Chemistry">English</option>
                                                <option value="physics">History</option>

                                            </select></td>
                                            <input type="hidden" id="subject4" name="subject4"/>
                                            <td><select id="subject4Result" class="form-control2"
                                                        onchange="getSubject4Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject4R" name="subject4R"/>

                                        </tr>

                                        <tr>
                                            <td><select id="list5" onchange="getSubject5();">
                                                <option value="NONE">--select your religion subject--</option>
                                                <option value="Combined Mathematics">Buddhism</option>
                                                <option value="physics">Hinduism</option>
                                                <option value="Chemistry">Cristianity</option>
                                                <option value="physics">Islam</option>

                                            </select></td>
                                            <input type="hidden" id="subject5" name="subject5"/>
                                            <td><select id="subject5Result" class="form-control2"
                                                        onchange="getSubject5Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject5R" name="subject5R"/>

                                        </tr>

                                        <tr>
                                            <td><select id="list6" onchange="getSubject6();">
                                                <option value="NONE">--select your first language--</option>
                                                <option value="Chemistry">Sinhala Language and Literature</option>
                                                <option value="physics">Tamil Language and Literature</option>
                                            </select></td>
                                            <input type="hidden" id="subject6" name="subject6"/>
                                            <td><select id="subject6Result" class="form-control2"
                                                        onchange="getSubject6Result()">
                                                <option value="NONE">--select--</option>
                                                <option value=4>A</option>
                                                <option value=3>B</option>
                                                <option value=2>C</option>
                                                <option value=1>S</option>
                                            </select></td>
                                            <input type="hidden" id="subject6R" name="subject6R"/>

                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>



                            <label class="control-label col-sm-5 ">Your Results for optional subjects:</label>


                            <div class="col-sm-5">

                                <table class="table table-striped">


                                    <tbody>
                                    <tr>
                                        <td>
                                            <select id="list7" onchange="getSubject7();">
                                                <option value="NONE">--select one from basket-1--</option>
                                                <option value="Combined Mathematics">Business & Accounting Studies
                                                </option>
                                                <option value="physics">Second Language Sinhala</option>
                                                <option value="physics">Second Language Tamil</option>
                                                <option value="Chemistry">Life Skills</option>
                                                <option value="physics">Geography</option>
                                                <option value="Chemistry">Japanese</option>
                                                <option value="Chemistry">French</option>
                                                <option value="Chemistry">German</option>
                                                <option value="physics">Hindi</option>
                                                <option value="Chemistry">Latin</option>
                                                <option value="Chemistry">Malay</option>
                                                <option value="Chemistry">Arabic</option>
                                                <option value="Chemistry">Pali</option>
                                                <option value="Chemistry">Sanskirit</option>

                                            </select></td>
                                        <input type="hidden" id="subject7" name="subject7"/>
                                        <td><select id="subject1Result7" class="form-control2"
                                                    onchange="getSubject7Result()">
                                            <option value="NONE">--select--</option>
                                            <option value=4>A</option>
                                            <option value=3>B</option>
                                            <option value=2>C</option>
                                            <option value=1>S</option>
                                        </select></td>
                                        <input type="hidden" id="subject7R" name="subject7R"/>
                                    </tr>
                                    <tr>
                                        <td><select id="list8" onchange="getSubject8();">
                                            <option value="NONE">--select one from basket-2--</option>
                                            <option value="Combined Mathematics">Art</option>
                                            <option value="physics">Dancing (Sinhala)</option>
                                            <option value="Chemistry">Dancing (Baratha)</option>
                                            <option value="Combined Mathematics">Music (Oriental)</option>
                                            <option value="physics">Music (Carnatic)</option>
                                            <option value="Chemistry">Music ( Western)</option>
                                            <option value="Chemistry">Drama & Theatre</option>
                                            <option value="Chemistry">Appreciation of English Literary Texts</option>
                                            <option value="Chemistry">Sinhala Literature</option>
                                            <option value="Chemistry">Tamil Literature</option>
                                            <option value="Chemistry">Arabic Literature</option>

                                        </select></td>
                                        <input type="hidden" id="subject8" name="subject8"/>
                                        <td><select id="subject8Result" class="form-control2"
                                                    onchange="getSubject8Result()">
                                            <option value="NONE">--select--</option>
                                            <option value=4>A</option>
                                            <option value=3>B</option>
                                            <option value=2>C</option>
                                            <option value=1>S</option>
                                        </select></td>
                                        <input type="hidden" id="subject8R" name="subject8R"/>

                                    </tr>
                                    <tr>
                                        <td><select id="list9" onchange="getSubject9();">
                                            <option value="NONE">--select one from basket-3--</option>
                                            <option value="Combined Mathematics">Health & Physical Education</option>
                                            <option value="physics">Information & Communication Technology</option>
                                            <option value="Combined Mathematics">Entrepreneurship Studies</option>
                                            <option value="Chemistry">Communication & Media Studies</option>
                                            <option value="physics">Citizenship Education & Governance</option>
                                            <option value="Chemistry">Fisheries & Food Technology</option>
                                            <option value="Chemistry">Agriculture & Food Technology</option>
                                            <option value="physics">Design & Technology</option>
                                            <option value="Chemistry">Arts & Crafts</option>
                                            <option value="Chemistry">Home Economics</option>
                                        </select></td>
                                        <input type="hidden" id="subject9" name="subject9"/>
                                        <td><select id="subject9Result" class="form-control2"
                                                    onchange="getSubject9Result()">
                                            <option value="NONE">--select--</option>
                                            <option value=4>A</option>
                                            <option value=3>B</option>
                                            <option value=2>C</option>
                                            <option value=1>S</option>
                                        </select></td>
                                        <input type="hidden" id="subject9R" name="subject9R"/>

                                    </tr>


                                    </tbody>
                                </table>



                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-6 col-sm-2">
                                <input type="submit"/>
                            </div>

                        </div>

                        </div>
                    </div>


                </div>
                <!-- /. ROW  -->
                <hr/>

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </form>
</div>

</div>


<script type="text/javascript" src="js/validateFormOl.js"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<div class="footer" id="bottom_link">
    <div id="footer">
        <div class="container">
            <div class="text-center center-block"><p class="txt-railway"><font size="3"><strong>ABOUT THE DREAM
                ON</strong></font></p>                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
                                                                                                      class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
                                                                     class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                                                        class="fa fa-envelope-square fa-3x social"></i></a>
                <p class="txt-railway"><font size="1"><em>copyright&copy;DreamOn</em></font></p></div>
        </div>
    </div>
</div>
</body>
</html>
