<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DreamOn Home</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/custom.css}">
    <link rel="stylesheet" th:href="@{css/Popup.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
</head>
<body background="/images/back3.jpg">


<nav>


    <div class="navbar navbar-customs">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Home.html"><img alt="light" src="/images/logo7.gif" class="logo" height="45" width="175"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <a class="btn btn-info navbar-btn" href="Home.html" role="button">Home</a>
                    <a class="btn btn-info navbar-btn" href="about.html" role="button">About</a>
                    <a class="btn btn-info navbar-btn" href="contact.html" role="button">Contact</a>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </div>


</nav>


<div class="container ">
    <div class="row ">
        <div class="large-12 text-center columns">
            <div class="text-center center-block">
                <p class="sansserif1"><font size="7"><strong>Choose Your Stream</strong></font></p>
            </div>
            <ul class="button-group fix_button_group">
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Physical
                    Science
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id02').style.display='block'" style="width:auto;">BioScience
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Technology
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id04').style.display='block'" style="width:auto;">Comerce
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id05').style.display='block'" style="width:auto;">Art
                </button>
                <button type="button" class="btn btn-primary btn-lg"
                        onclick="document.getElementById('id06').style.display='block'" style="width:auto;">Other
                </button>
            </ul>
        </div>
    </div>


    <div id="id01" class="modal">
        <form name="myForm" class="modal-content animate" action="/selectphisical" onsubmit="return validateForm1()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

            </div>

            <div class="container">
                <div id="page-wrapper1">
                    <div id="page-inner1">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-5 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list1" onchange="getSubject1();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Combined Mathematics">Combined Mathematics
                                                        </option>
                                                        <option value="Physics">Physics</option>
                                                        <option value="Chemistry">Chemistry</option>
                                                    </select></td>
                                                <input type="hidden" id="subject1" name="subject1"/>

                                            </tr>
                                            <tr>
                                                <td><select id="list2" onchange="getSubject2();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Combined Mathematics">Combined Mathematics
                                                    </option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                </select></td>
                                                <input type="hidden" id="subject2" name="subject2"/>

                                            </tr>
                                            <tr>
                                                <td><select id="list3" onchange="getSubject3();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="NONE">--select--</option>
                                                    <option value="Combined Mathematics">Combined Mathematics
                                                    </option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                </select></td>
                                                <input type="hidden" id="subject3" name="subject3"/>


                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
    <div id="id02" class="modal">
        <form name="myForm" class="modal-content animate" action="/addstream2" onsubmit="return validateForm2()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <div id="page-wrapper2">
                    <div id="page-inner2">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-5 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list21" onchange="getSubject21();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Biology">Biology</option>
                                                        <option value="Physics">Physics</option>
                                                        <option value="Chemistry">Chemistry</option>
                                                    </select></td>
                                                <input type="hidden" id="subject21" name="subject21"/>


                                            <tr>
                                                <td><select id="list22" onchange="getSubject22();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Biology">Biology</option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                </select></td>
                                                <input type="hidden" id="subject22" name="subject22"/>



                                            </tr>
                                            <tr>
                                                <td><select id="list23" onchange="getSubject23();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Biology">Biology</option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                </select></td>
                                                <input type="hidden" id="subject23" name="subject23"/>



                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
    <div id="id03" class="modal">
        <form name="myForm" class="modal-content animate" action="/addstream3" onsubmit="return validateForm3()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <div id="page-wrapper3">
                    <div id="page-inner3">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-5 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list31" onchange="getSubject31();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Science for Technology">Science for Technology
                                                        </option>
                                                    </select></td>
                                                <input type="hidden" id="subject31" name="subject31"/>


                                            </tr>
                                            <tr>
                                                <td><select id="list32" onchange="getSubject32();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Engineering Technology">Engineering Technology
                                                    </option>
                                                    <option value="Biosystems Technology">Bio-system technology</option>
                                                </select></td>
                                                <input type="hidden" id="subject32" name="subject32"/>



                                            </tr>
                                            <tr>
                                                <td><select id="list33" onchange="getSubject33();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Economics">Economics</option>
                                                    <option value="Geography">Geography</option>
                                                    <option value="Home Economics">Home Economics</option>
                                                    <option value="Accountancy">Accountancy</option>
                                                    <option value="Communication and Media Studies">Communication and
                                                        Media Study
                                                    </option>
                                                    <option value="Art">Art</option>
                                                    <option value="Business Studies">Business Studies</option>
                                                    <option value="Agricultural Science">Agricultural Science</option>
                                                </select></td>
                                                <input type="hidden" id="subject33" name="subject33"/>




                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
    <div id="id04" class="modal">
        <form name="myForm" class="modal-content animate" action="/addstream4" onsubmit="return validateForm4()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <div id="page-wrapper4">
                    <div id="page-inner4">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-5 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list41" onchange="getSubject41();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Accountancy">Accountancy</option>
                                                        <option value="Business Studies">Business Studies</option>
                                                        <option value="Economics">Economics</option>
                                                    </select></td>
                                                <input type="hidden" id="subject41" name="subject41"/>


                                            </tr>
                                            <tr>
                                                <td><select id="list42" onchange="getSubject42();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Accountancy">Accountancy</option>
                                                    <option value="Business Studies">Business Studies</option>
                                                    <option value="Economics">Economics</option>
                                                </select></td>
                                                <input type="hidden" id="subject42" name="subject42"/>


                                            </tr>
                                            <tr>
                                                <td><select id="list43" onchange="getSubject43();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Business Statistics">Business Statistics</option>
                                                    <option value="Geography">Geography</option>
                                                    <option value="Political Science">Political Science</option>
                                                    <option value="History">History</option>
                                                    <option value="Logic & Scientific Method">The logic and
                                                        the scientific method
                                                    </option>
                                                    <option value="English">English</option>
                                                    <option value="German">German</option>
                                                    <option value="French">French</option>
                                                    <option value="Agricultural Sciences">Agricultural Sciences</option>
                                                    <option value="Combined Mathematics">Combined Mathematics</option>
                                                    <option value="Information and Communication Technology (ICT)">
                                                        Information and Communication Technology (ICT)
                                                    </option>
                                                    <option value="Accountancy">Accountancy</option>
                                                    <option value="Business Studies">Business Studies</option>
                                                    <option value="Economics">Economics</option>
                                                </select></td>
                                                <input type="hidden" id="subject43" name="subject43"/>




                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
    <div id="id05" class="modal">
        <form name="myForm" class="modal-content animate" action="/addstream5" onsubmit="return validateForm5()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <div id="page-wrapper5">
                    <div id="page-inner5">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-4 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list51" onchange="getSubject51();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Economics">Economics</option>
                                                        <option value="Geography">Geography</option>
                                                        <option value="History">
                                                            History (Sri Lankan history and Indian history or European
                                                            history or World history)
                                                        </option>
                                                        <option value="Home Economics">Home Economics</option>
                                                        <option value="Political Sciences">Political Sciences</option>
                                                        <option value="Logic and Scientific method">Logic and Scientific
                                                            method
                                                        </option>
                                                        <option value="History">
                                                            history or World history)
                                                        </option>
                                                        History (Sri Lankan history and Indian history or European
                                                        <option value="Accounting">Accounting</option>
                                                        <option value="Business Statistics">Business Statistics</option>
                                                        <option value="Agricultural Science ">Agricultural Science
                                                        </option>
                                                        <option value="Mathematics">Mathematics</option>
                                                    </select></td>
                                                <input type="hidden" id="subject51" name="subject51"/>


                                            </tr>
                                            <tr>
                                                <td><select id="list52" onchange="getSubject52();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Civil/Mechanical or Electrical/Electronic and information Technology ">
                                                        Civil/Mechanical or Electrical/Electronic and information
                                                        Technology
                                                    </option>
                                                    <option value="Communication and Mass media">Communication and Mass
                                                        media
                                                    </option>
                                                    <option value="Information and Communicational Technology">
                                                        Information and Communicational Technology
                                                    </option>
                                                    <option value="Economics">Economics</option>
                                                    <option value="Geography">Geography</option>
                                                    <option value="History">
                                                        History (Sri Lankan history and Indian history or European
                                                        history or World history)
                                                    </option>
                                                    <option value="Geography">Geography</option>
                                                    <option value="Political Sciences">Political Sciences</option>
                                                    <option value="Accounting">Accounting</option>
                                                    <option value="Home Economics">Business Statistics</option>
                                                    <option value="Agricultural Science ">Agricultural Science</option>
                                                    <option value="Mathematics">Logic and Mathematics</option>
                                                </select></td>
                                                <input type="hidden" id="subject52" name="subject52"/>



                                            </tr>
                                            <tr>
                                                <td><select id="list53" onchange="getSubject53();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Geography">Geography</option>
                                                    <option value="History">
                                                        History (Sri Lankan history and Indian history or European
                                                        history or World history)
                                                    </option
                                                    <option value="Geography">Geography</option>
                                                    <option value="Home Economics">Home Economics</option>
                                                    <option value="Political Sciences">Political Sciences</option>
                                                    <option value="Logic and Scientific method">Logic and Scientific
                                                        method
                                                    </option>
                                                    <option value="History">
                                                        History (Sri Lankan history and Indian history or European
                                                        history or World history)
                                                    </option>
                                                    <option value="Accounting">Accounting</option>
                                                    <option value="Home Economics">Business Statistics</option>
                                                    <option value="Agricultural Science">Agricultural Science</option>
                                                    <option value="Buddhism or Buddhist Civilization">Buddhism or
                                                        Buddhist Civilization
                                                    </option>
                                                    <option value="Christianity">Christianity</option>
                                                    <option value="Christian Culture">Christian Culture</option>

                                                </select></td>
                                                <input type="hidden" id="subject53" name="subject53"/>




                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
    <div id="id06" class="modal">
        <form name="myForm" class="modal-content animate" action="/addstream6" onsubmit="return validateForm6()"
              method="POST">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id06').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <div id="page-wrapper6">
                    <div id="page-inner6">
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group">
                                    <label class="control-label col-sm-5 ">Your Results:</label>


                                    <div class="col-sm-5">

                                        <table class="table table-striped">

                                            <thead>
                                            <tr>
                                                <th>Subject</th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <select id="list61" onchange="getSubject61();">
                                                        <option value="NONE">--select--</option>
                                                        <option value="Biology">Biology</option>
                                                        <option value="Physics">Physics</option>
                                                        <option value="Chemistry">Chemistry</option>
                                                        <option value="Information and Communicational Technology">
                                                            Information and Communicational Technology
                                                        </option>
                                                        <option value="Agricultural Science ">Agricultural Science
                                                        </option>
                                                        <option value="Biology">Biology</option>
                                                    </select></td>
                                                <input type="hidden" id="subject61" name="subject61"/>


                                            </tr>
                                            <tr>
                                                <td><select id="list62" onchange="getSubject52();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Biology">Biology</option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                    <option value="Information and Communicational Technology">
                                                        Information and Communicational Technology
                                                    </option>
                                                    <option value="Agricultural Science ">Agricultural Science</option>
                                                    <option value="Biology">Biology</option>
                                                </select></td>
                                                <input type="hidden" id="subject62" name="subject62"/>



                                            </tr>
                                            <tr>
                                                <td><select id="list63" onchange="getSubject63();">
                                                    <option value="NONE">--select--</option>
                                                    <option value="Biology">Biology</option>
                                                    <option value="Physics">Physics</option>
                                                    <option value="Chemistry">Chemistry</option>
                                                    <option value="Information and Communicational Technology">
                                                        Information and Communicational Technology
                                                    </option>
                                                    <option value="Agricultural Science ">Agricultural Science</option>
                                                    <option value="Biology">Biology</option>
                                                </select></td>
                                                <input type="hidden" id="subject63" name="subject63"/>




                                            </tr>
                                            </tbody>
                                        </table>


                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-6 col-sm-2">
                                        <input type="submit"/>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /. ROW  -->
                        <hr/>

                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="js/validateFormPopup.js"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<div class="footer" id="bottom_link">
    <div id="footer">
        <div class="container">
            <div class="text-center center-block"><p class="txt-railway"><font size="3"><strong>ABOUT THE DREAM
                ON</strong></font></p>                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
                                                                                                      class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
                                                                     class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                                                        class="fa fa-envelope-square fa-3x social"></i></a>
                <p class="txt-railway"><font size="1"><em>copyright&copy;DreamOn</em></font></p></div>
        </div>
    </div>
</div>


</body>
<script>

    function getSubject1() {
        var subject1sel = document.getElementById("list1").value;
        document.getElementById("subject1").value = subject1sel;

    }
    getSubject1();
    function getSubject2() {
        var subject2sel = document.getElementById("list2").value;
        document.getElementById("subject2").value = subject2sel;

    }
    getSubject2();
    function getSubject3() {
        var subject3sel = document.getElementById("list3").value;
        document.getElementById("subject3").value = subject3sel;

    }
    getSubject3();

</script>

</html>
