<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="Q.CSS"/>
    <style>
        table, th, td {
            border: 3px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px ;
        }
        th {
            text-align:5px;
        }


    </style>

</head>

<center>
    <body>
    <header></header>

    <div style="float:left; width:60%;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <center>
            <table class align="center" style="width:100%;"  >
                <tr>
                    <th>Subject</th>
                    <th>Result</th>

                </tr>

                <tr>

                    <td>
                        <SELECT>

                            <OPTION Value="Under 16">Physics </OPTION>
                            <OPTION Value="16 to 25">Chemistry</OPTION>
                            <OPTION Value="26 to 40">Maths</OPTION>
                            <OPTION Value="40 to 60">CSC</OPTION>
                            <OPTION Value="Over 60">Bio</OPTION>

                        </SELECT>
                    </td>

                    <td>
                        <SELECT >

                            <OPTION Value="Under 16">A</OPTION>
                            <OPTION Value="16 to 25">B</OPTION>
                            <OPTION Value="26 to 40">C</OPTION>
                            <OPTION Value="40 to 60">S</OPTION>
                            <OPTION Value="Over 60">E</OPTION>

                        </SELECT>
                    </td>


                </tr>

                <tr>
                    <td>
                        <SELECT>

                            <OPTION Value="Under 16">Physics </OPTION>
                            <OPTION Value="16 to 25">Chemistry</OPTION>
                            <OPTION Value="26 to 40">Maths</OPTION>
                            <OPTION Value="40 to 60">CSC</OPTION>
                            <OPTION Value="Over 60">Bio</OPTION>

                        </SELECT>
                    </td>
                    </di>
                    <td>

                        <SELECT>

                            <OPTION Value="Under 16">A</OPTION>
                            <OPTION Value="16 to 25">B</OPTION>
                            <OPTION Value="26 to 40">C</OPTION>
                            <OPTION Value="40 to 60">S</OPTION>
                            <OPTION Value="Over 60">E</OPTION>

                        </SELECT>
                    </td>

                </tr>
                <tr>
                    <td>
                        <SELECT>

                            <OPTION Value="Under 16">Physics </OPTION>
                            <OPTION Value="16 to 25">Chemistry</OPTION>
                            <OPTION Value="26 to 40">Maths</OPTION>
                            <OPTION Value="40 to 60">CSC</OPTION>
                            <OPTION Value="Over 60">Bio</OPTION>

                        </SELECT>
                    </td>
                    <td>
                        <SELECT >

                            <OPTION Value="Under 16">A</OPTION>
                            <OPTION Value="16 to 25">B</OPTION>
                            <OPTION Value="26 to 40">C</OPTION>
                            <OPTION Value="40 to 60">S</OPTION>
                            <OPTION Value="Over 60">E</OPTION>

                        </SELECT>
                    </td>

                </tr>


            </table>
        </center>

        <br/>
        <br/>

        <tr>
            <td><input type="submit" value="Submit"  title="Search" type="submit" id="btn_s" /></td>

        </tr>

    </div>


    <footer></footer>
    </body>
</center>
</html>
